# ------------------------------
# Python
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment variables
.env
.env.*

# SQLite Databases
*.db
*.db-wal
*.db-shm

# Tokens / Credentials
google_tokens.json

# Uploads
uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Secret files
secrets.json
secret.key